@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet"/>
    <title>Chat</title>
</head>
<body>

    <div>
        <h1>Chat</h1>

        <div>
            <label>Nickname:</label>
            <input type="text" id="txtNickName" placeholder="Por favor, entre com seu nickname!" />
            <button id="btnConectar">Conectar</button>
        </div>

        <div>
            <label>Destinário:</label>
            <input type="text" id="txtDestinatario" placeholder="Para quem deseja enviar a mensagem? Por padrão é enviado para todos da sala" />
        </div>
        
        <div>
            <label>Mensagem:</label>
            <input type="text" id="txtMensagem" placeholder="Digite sua mensagem!" />
        </div>

        <div>
            <button id="btnEnviar">Enviar</button>
        </div>
        <div>
            <ul id="txtMensagens"></ul>
        </div>

    </div>

    <script language="javascript" type="text/javascript">
        
        function connect() {
            var nick = document.getElementById("txtNickName");
            var uri = "ws://" + window.location.host + `/api/chat?nickName=${nick.value}`;
            socket = new WebSocket(uri);
            socket.onopen = function (event) {
                console.log("Conexão aberta com " + uri);
            };
            socket.onclose = function (event) {
                console.log("Fechando conexão com " + uri);
            };
            socket.onmessage = function (event) {
                appendItem(list, event.data);
                console.log(event.data);
            };
            socket.onerror = function (event) {
                console.log("Erro: " + event.data);
            };
        }
        
        var list = document.getElementById("txtMensagens");
        var btnEnviar = document.getElementById("btnEnviar");

        btnEnviar.addEventListener("click", function () {
            var mensagem = document.getElementById("txtMensagem");
            var destinatario = document.getElementById("txtDestinatario");
            enviarMensagem(mensagem.value, destinatario.value);
            mensagem.value = "";
        });

        var btnConectar = document.getElementById("btnConectar");
        btnConectar.addEventListener("click", function () {

            var nick = document.getElementById("txtNickName");
            if (!nick.value) {
                alert("Erro: nick name vazio. ");
            }
            else {
                connect();
            }
        });

        function enviarMensagem(mensagem, destinatario) {
            console.log("Enviando: " + mensagem + ":" + destinatario);

            var param =
            {
                Mensagem : mensagem,
                Destinatario : destinatario
            }

            socket.send(JSON.stringify(param));
        }
        function appendItem(list, mensagem) {
            var item = document.createElement("li");
            item.appendChild(document.createTextNode(mensagem));
            list.appendChild(item);
        }
    </script>

</body>
</html>
